<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.teamwable.viewit.benchmark.BenchmarkComposeEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.Wable" />
        <activity
            android:name="com.teamwable.viewit.benchmark.BenchmarkXmlEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.Wable" />
    </application>
</manifest>
